:root {
  --box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

  --light-gray: #f5f5f5;
  --medium-gray: #d0d0d0;
  --dark-gray: rgb(160, 160, 160);
  --darker-gray: rgb(139, 139, 139);
  --light-green: #6bcf63;
  --medium-green: #5eb657;
  --dark-green: #4c9547;
  --light-red: #f66a6a;
  --medium-red: #de5f5f;
  --dark-red: #bd5050;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  /* footer support */
  position: relative;
  min-height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  background-color: var(--light-gray);
  /* Footer support */
  margin-bottom: 100px;
}

header,
footer {
  text-align: center;
  padding: 25px 0;
}

main,
footer {
  background-color: var(--light-gray);
}

button {
  cursor: pointer;
}

header {
  position: relative;
  font-size: 2rem;
  box-shadow: var(--box-shadow);
  background-color: white;
}

main {
  grid-area: m;
  text-align: center;
  padding-top: 40px;
}

#add-book {
  font-size: 2.5rem;
  padding: 15px 25px;
  font-weight: bold;
  border: unset;
  background-color: var(--light-gray);
  border-radius: 10px;
}

#add-book:hover {
  background-color: var(--medium-gray);
}

#add-book:active {
  background-color: var(--dark-gray);
}

.books-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 100px;
  margin: 0 150px;
  margin-top: 35px;
}

.book {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: unset;
  box-shadow: var(--box-shadow);
  gap: 15px;
  padding: 35px 15px;
  font-size: 2rem;
}

.book-button {
  padding: 20px 0px;
  font-size: 2rem;
  border: unset;
  border-radius: 10px;
}

.book-button.read {
  background-color: var(--light-green);
}
.book-button.not-read {
  background-color: var(--light-red);
}
.book-button.delete {
  background-color: var(--medium-gray);
}

.book-button.read:hover {
  background-color: var(--medium-green);
}
.book-button.not-read:hover {
  background-color: var(--medium-red);
}
.book-button.delete:hover {
  background-color: var(--dark-gray);
}

.book-button.read:active {
  background-color: var(--dark-green);
}
.book-button.not-read:active {
  background-color: var(--dark-red);
}
.book-button.delete:active {
  background-color: var(--darker-gray);
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  font-size: 1.8rem;
}
